{% extends 'index.html' %}
{% block title %}
Документация
{% endblock %}
{% block body %}
  <h2>Запросы которые необлодимо отправлять на сервер</h2>
        <h3>Промышленная автоматизация</h3>
        <h4>Стол 1</h4>
        <ul>
            <p><b>http://192.168.42.1/senddata?table=1&status=3&mode=0&wait=0&count=3</b></p>
            <li><p>table - номер стола</p></li>
            <li><p>status - статус. 0 - выключена, 1 - работает, 2 - ожидание, 3 - ошибка</p></li>
            <li><p>mode - режим. 0 - ручной, 1 - автоматический</p></li>
            <li><p>wait - ожидание. 0 - нет ожидания,  1 - 1 - ожидание приезда сервисного робота за упакованной продукцией, 2 - линия переполнена или ожидание подачи продукции</p></li>
            <li><p>count - количестово выложенных помидоров</p></li>
        </ul>

        <h4>Стол 2</h4>
        <ul>
            <p><b>http://192.168.42.1/senddata?table=2&status=3&mode=0&wait=0&count=3</b></p>
            <li><p>table - номер стола</p></li>
            <li><p>status - статус. 0 - выключена, 1 - работает, 2 - ожидание, 3 - ошибка</p></li>
            <li><p>mode - режим. 0 - ручной, 1 - автоматический</p></li>
            <li><p>wait - ожидание. 0 - нет ожидания,  1 - 1 - ожидание приезда сервисного робота за упакованной продукцией, 2 - линия переполнена или ожидание подачи продукции</p></li>
            <li><p>count - количестово выложенных огурцов</p></li>
        </ul>

        <h4>Стол 3</h4>
        <ul>
            <p><b>http://192.168.42.1/senddata?table=3&status=3&mode=0&wait=0&count=3</b></p>
            <li><p>table - номер стола</p></li>
            <li><p>status - статус. 0 - выключена, 1 - работает, 2 - ожидание, 3 - ошибка</p></li>
            <li><p>mode - режим. 0 - ручной, 1 - автоматический</p></li>
            <li><p>wait - ожидание. 0 - нет ожидания,  1 - 1 - ожидание приезда сервисного робота за упакованной продукцией, 2 - линия переполнена или ожидание подачи продукции</p></li>
            <li><p>count - количестово посаженных семян</p></li>
        </ul>

        <h4>Стол 4</h4>
        <ul>
            <p><b>http://192.168.42.1/senddata?table=4&status=3&mode=0&wait=0&count=3</b></p>
            <li><p>table - номер стола</p></li>
            <li><p>status - статус. 0 - выключена, 1 - работает, 2 - ожидание, 3 - ошибка</p></li>
            <li><p>mode - режим. 0 - ручной, 1 - автоматический</p></li>
            <li><p>wait - ожидание. 0 - нет ожидания,  1 - 1 - ожидание приезда сервисного робота за упакованной продукцией, 2 - линия переполнена или ожидание подачи продукции</p></li>
            <li><p>count - количестово посаженных семян</p></li>
        </ul>

        <h4>Стол 5</h4>
        <ul>
            <p><b>http://192.168.42.1/senddata?table=5&status=3&mode=0&wait=0&count=3</b></p>
            <li><p>table - номер стола</p></li>
            <li><p>status - статус. 0 - выключена, 1 - работает, 2 - ожидание, 3 - ошибка</p></li>
            <li><p>mode - режим. 0 - ручной, 1 - автоматический</p></li>
            <li><p>wait - ожидание. 0 - нет ожидания,  1 - 1 - ожидание приезда сервисного робота за упакованной продукцией, 2 - линия переполнена или ожидание подачи продукции</p></li>
            <li><p>count - количестово отобранных больших морковок</p></li>
        </ul>

        <h4>Стол 6</h4>
        <ul>
            <p><b>http://192.168.42.1/senddata?table=6&status=3&mode=0&wait=0&count=3</b></p>
            <li><p>table - номер стола</p></li>
            <li><p>status - статус. 0 - выключена, 1 - работает, 2 - ожидание, 3 - ошибка</p></li>
            <li><p>mode - режим. 0 - ручной, 1 - автоматический</p></li>
            <li><p>wait - ожидание. 0 - нет ожидания,  1 - 1 - ожидание приезда сервисного робота за упакованной продукцией, 2 - линия переполнена или ожидание подачи продукции</p></li>
            <li><p>count - количестово прополотых горшков</p></li>
        </ul>
{% endblock %}